* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  padding-top: 20px;
  padding-right: 100px;
  padding-left: 100px;
}

.conteudo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.caixa-texto {
  width: 600px;
}

.caixa-imagem {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  margin-top: 250px;
}

.menu {
  display: flex;
  justify-content: center;
}

button {
  background-color: #017143;
  color: #ffffff;
  border: none;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
  z-index: 10;
  margin-top: 80px;
}

button:hover {
  background-color: #018553;
  box-shadow: 3px 3px 5px rgb(88, 103, 103);
  color: #ffffff;
  border: none;
  border-radius: 15px;
}

h2 {
  font-size: 60px;
  font-weight: 500;
}

span {
  color: #017143;
  font-size: 70px;
  font-weight: 900;
}

p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.logo {
  width: 80px;
}

.starbucks {
  width: 340px;
  z-index: 2;
}

.copo-pequeno {
  width: 60px;
  cursor: pointer;
  transition: 1s;
}

.copo-pequeno:hover {
  width: 60px;
  cursor: pointer;
  transform: translateY(-35px);
}

.circulo {
  background-color: #017143;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: circle(600px at right 800px);
}

@media screen and (max-width: 900px) {
  .circulo {
    display: none;
  }

  .starbucks {
    padding-left: 100px;
    width: 400px;
    z-index: 2;
  }

  .copo-pequeno {
    width: 60px;
  }

  .copo-pequeno:hover {
    top: 30;
    animation-duration: 2s;
  }

  .caixa-texto {
    width: 700px;
  }
}